* {
  background: none;
  border: none;
  box-shadow: none;
  font-family: JetBrains Mono Nerd Font Propo;
  font-size: 12pt;
  outline: none;
  all: unset;
}

.box-wrapper {
  padding: 25px;
  border-radius: 20px;
  background: rgba(0,0,0,0.1);
}

child { /* All text */
  padding: 8px;
  border-radius: 2px;
  color: hsl(0, 0, 95);
}

child:selected, child:hover { /* Selected in list */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;  
}

.error { /* Error */
  padding: 10px;
  background: red;
  color: red;
}

.input { /* Searchbar */
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 15px;
}

.item-box {
  border-radius: 10px;
  min-height: 35px;
}

.item-subtext { /* Small text under primare app name */
  font-size: 12px;
  opacity: 0.8;
}