* {
  background: none;
  border: none;
  box-shadow: none;
  color: #eee;
  font-family: JetBrains Mono Nerd Font Propo;
  font-size: 12pt;
  outline: none;
  all: unset;
}

.box-wrapper {
  padding: 25px;
  border-radius: 20px;
  background: rgba(0,0,0,0.2);
}

child {
  padding: 8px;
  border-radius: 2px;
}

child:selected, child:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.error {
  padding: 10px;
  background: red;
  color: red;
}