* {
	border: none;
	border-radius: 17px;
	font-family: Roboto;
	font-size: 12px;
  font-weight: bolder;
	background: transparent;
	color: white;
	min-height: 0;
}

window#waybar {
	background: rgba(0, 0, 0, 0.1);
}

window#waybar #tray menu{
	background: rgba(0, 0, 0, 0.1);
}

#tray menu :hover {
    background: rgba(0, 0, 0, 0.1);
}

#tray menu :hover label { 
    background: rgba(0, 0, 0, 0.1);
}

tooltip {
	background: rgba(0, 0, 0, 0.1);
}

#workspaces button {
	border-radius: 0;
	margin-left: 1px;
}

#tray window decoration{
   border-style: none;
   box-shadow: none;
}

#workspaces button.active {
	border-bottom: 2px solid;
	border-image: linear-gradient(to right, transparent 45%, white 45%, white 55%, transparent 55%) 10;
	margin-top: 2px;
}

#clock, #tray, #cpu, #disk, #memory, #custom-power {
	padding: 0 7px;
}

#pulseaudio, #pulseaudio span {
	padding: 7px;
}
